<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brazill page</title>
<link rel="stylesheet" href="/static/css/brazill.css">
</head>
<body>
    <div class="container">
        <div class="head" id="head">Coffee Time</div>
        <div class="nav">
            <div class="nav-buttons">
                <input type="button" id="type" class="button" value="원두 종류">
                <input type="button" id="buy" class="button" value="구매">
            </div>
            <input type="button" id="login" class="button" value="로그인">
        </div>
    </div>

    <div class="main-container">
        <img src="/static/img/Brazill2.png"><br>
        <p>브라질 커피 특징 브라질은 해발 고도 800m 정도의 비교적 저지대의 대규모 농장에서 커피를 재배한다.<br>
             그렇다 보니 커피 품질의 일관성도 높은 편이고, 바디감이 강하고 단맛도 좋은 편이다.<br>
              뚜렷한 개성을 가진 커피라기보다는 맛의 중간에 위치해있는 무난한 요소가 많은 커피이다.</p>
    </div>
    <div class="btn-container">
        <div class="btn" id="buypage">구매하러가기</div>
        <div class="btn" id="before">이전</div>
    </div>

    <script src="/static/js/brazill.js"></script>
</body>
</html>