<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buy page</title>
<link rel="stylesheet" href="/static/css/buy.css">    
</head>
<body>
    <div class="container">
        <div class="head" id="head">Coffee Time</div>
        <div class="nav">
            <div class="nav-buttons">
                <input type="button" id="type" class="button" value="원두 종류">
                <input type="button" id="buy" class="button" value="구매">
            </div>
            <input type="button" id="login" class="button" value="로그인">
        </div>
    </div>
    
    <div class="main-container">
        <div class="main-content">
            <img src="/static/img/kenya.jpg" alt="Kenya Coffee">
            <p>케냐산 원두</p>
            <p>₩8,000</p>
            <p class="area" id="btn1">구매</p>
        </div>
        <div class="main-content">
            <img src="/static/img/indonesia.jpg" alt="Indonesia Coffee">
            <p>인도네시아산 원두</p>
            <p>₩6,000</p>
            <p class="area" id="btn2">구매</p>
        </div>
        <div class="main-content">
            <img src="/static/img/Brazill.jpg" alt="Brazil Coffee">
            <p>브라질산 원두</p>
            <p>₩4,000</p>
            <p class="area" id="btn3">구매</p>
        </div>
    </div>

    <script src="/static/js/buy.js"></script>
</body>
</html>