<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kenya page</title>
<link rel="stylesheet" href="/static/css/kenya.css">    
</head>
<body>
    <div class="container">
        <div class="head" id="head">Coffee Time</div>
        <div class="nav">
            <div class="nav-buttons">
                <input type="button" id="type" class="button" value="원두 종류">
                <input type="button" id="buy" class="button" value="구매">
            </div>
            <input type="button" id="login" class="button" value="로그인">
        </div>
    </div>

    <div class="main-container">
        <img src="/static/img/kenya.png"><br>
        <p>케냐 커피는 진한 아로마와 밝은 산미를 가장 큰 특징으로 꼽습니다.<br>
             지역마다 미묘한 차이는 있지만,<br>
              베리의 향이 돋보이며 복합적인 과일향과 감귤류의 산미, 감칠맛, 풍성한 질감이 공통적인 특징입니다.</p>
    </div>
    <div class="btn-container">
        <div class="btn" id="buypage">구매하러가기</div>
        <div class="btn" id="before">이전</div>
    </div>

    <script src="/static/js/kenya.js"></script>
</body>
</html>