<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
<link rel="stylesheet" href="/static/css/login.css">    
</head>
<body>
    <div class="container">
        <div class="head" id="head">Coffee Time</div>
        <div class="nav">
            <div class="nav-buttons">
                <input type="button" id="type" class="button" value="원두 종류">
                <input type="button" id="buy" class="button" value="구매">
            </div>
        </div>
    </div>

    <div class="main-container">
        <div>로그인</div>
        <input type="text" class="area">
        <div>비밀번호</div>
        <input type="password" class="area">

        <div class="btn-container">
            <div class="btn" id="auto">로그인</div>
            <div class="btn" id="regist">회원가입</div>
        </div>
    </div>

    <script src="/static/js/login.js"></script>
</body>
</html>