<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
<link rel="stylesheet" href="/static/css/register.css">   
</head>
<body>
    <div class="container">
        <div class="head" id="head">Coffee Time</div>
        <div class="nav">
            <div class="nav-buttons">
                <input type="button" id="type" class="button" value="원두 종류">
                <input type="button" id="buy" class="button" value="구매">
            </div>
        </div>
    </div>

    <div class="main-container">
        <h1 id="string">회원가입</h1>

        <div class="input-group">
            <label for="name">이름</label>
            <input type="text" id="name" class="input2">
        </div>

        <div class="input-group">
            <label for="contact">연락처</label>
            <input type="text" id="contact" class="input2">
        </div>

        <div class="input-group">
            <label for="address">주소</label>
            <input type="text" id="address" class="input2">
        </div>

        <div class="input-group">
            <label for="email">이메일</label>
            <input type="text" id="email" class="input2">
        </div>

        <div class="btn-container">
            <div class="area" id="regist">가입</div>
            <div class="area" id="cancel">취소</div>
        </div>
    </div>
    <script src="/static/js/register.js"></script>
</body>
</html>