@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.head {
    background-color: #000000;
    width: 656px;
    height: 150px;
    color: #FFFFFF;
    font-size: 48px;
    font-family: "Michroma", sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    cursor: pointer;      
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 656px); 
    margin-left: 20px;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.button {
    color: #FFFFFF;
    background-color: #0a0a23;
    width: 232px;
    height: 72px;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    font-family: "Michroma", sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    cursor: pointer;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
}

.button:active {
    background-color: saddlebrown;
}
.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    margin-top: 150px;
} 

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 32px;
    font-family: "Michroma", sans-serif;
    width: 1000px;
}

.input-group label {
    flex: 1;
    font-size: 32px;
    margin-right: 10px; 
}

.input-group input {
    flex: 2;
    width: 670px; 
    height: 50px;
    font-size: 24px;
    padding: 5px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
}

.area {
    color: #FFFFFF;
    border: none;
    width: 260px;
    height: 80px;
    border: none;
    font-size: 32px;
    font-family: "Michroma", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;     
    text-align: center;
    cursor: pointer;
    background-color: #3234a8;
    border-radius: 10px;
}

.area:active{
    background-color: #000000;
}